<div class="container">
  <%= simple_form_for( @user, url: profile_path, method: "patch") do |f|  %>
    <div class="row gy-3">
      <div class="col-md-6">
      <%= f.label :first_name, "First name:" %>
      <%= f.text_field :first_name, class: "form-control" %>
      </div>

      <div class="col-md-6">
      <%= f.label :last_name, "Last name:" %>
      <%= f.text_field :last_name, class: "form-control" %>
      </div>

      <div class="col-md-6">
      <%= f.label :email, "Email:" %>
      <%= f.email_field :email, class: "form-control" %>
      </div>


      <div class="col-md-6">
      <%= f.label :age, "Age:" %>
      <%= f.number_field :age, class: "form-control" %>
      </div>

      <div class="col-md-12">
      <%= f.label :description, "Description:" %>
      <%= f.text_area :description, class: "form-control" %>
      </div>

      <div class="col-md-12">
        <%= f.submit "Update", class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
