<div class="prof-container-main">
  <div class="prof-container">
    <div class="prof-avatar-section">
      <% unless @user.picture.nil? %>
        <%= cl_image_tag(@user.picture, :width => 120, :height => 120, :crop => :fill, class: "avatar-user") %>
      <% else %>
        <%= image_tag("profile.png", class: "avatar-user") %>
      <% end %>
      <%= link_to "Edit profile", profile_edit_path, class: "gbtn gbtn-link" %>
      <%= link_to "+ Add tour", new_tour_path, class: "gbtn gbtn-primary" %>
    </div>
    <div class="prof-main">
      <div class="prof-details">
        <h2 style="margin-bottom: 0px">Hi <%= "#{@user.first_name} #{@user.last_name}" %>!</h2>
        <div class="prof-list-content">
          <h3 class="no-margin">User details</h3>
          <p><strong>Member since: </strong><%= current_user.created_at.strftime("%Y") %></p>
          <p><strong>User id: </strong><%= current_user.id %></p>
          <p><strong>Email: </strong><%= current_user.email %></p>
        </div>
        <% unless @user.description.nil? || @user.description.empty? %>
          <div class="prof-list-content">
            <h3 class="no-margin">About</h3>
            <p><%= @user.description %></p>
          </div>
        <% end %>
      </div>
      <br>
      <div class="profile-tabs" data-controller="tabs">
        <div class="profile-tabs-container" data-tabs-target="alltabs">
          <div class="tab active" data-target="bookings" data-tabs-target="tab" data-action="click->tabs#active">
            <h4>Bookings</h4>
          </div>
          <div class="tab" data-target="tours" data-tabs-target="tab" data-action="click->tabs#active">
            <h4>Tours</h4>
          </div>
          <div class="tab" data-target="pending" data-tabs-target="tab" data-action="click->tabs#active">
            <h4>Pending bookings</h4>
          </div>
        </div>
        <div class="profile-tabs-content" data-tabs-target="allcontent">
          <div class="" data-target="bookings" >
            <hr class="break">
            <% @booked.each do |tour| %>
              <div class="prof-list-row">
                <div class="prof-list-card">
                  <%= cl_image_tag(tour.pictures.first.image, height: 1000, width: 1000, crop: :fill) %>
                  <div class="prof-list-container">
                    <div class="prof-list-content">
                      <h3 class="no-margin"><%= tour.title %></h3>
                      <p><%= tour.date.to_formatted_s(:short) %></p>
                      <p><%= tour.price %></p>
                      <p><%= tour.description %></p>
                    </div>
                  </div>
                </div>
              </div>
              <hr class="break">
            <% end %>
          </div>
          <div class="hidden" data-target="tours">
            <hr class="break">
            <% @tours.each do |tour| %>
              <div class="prof-list-row">
                <div class="prof-list-card">
                  <%= cl_image_tag(tour.pictures.first.image, height: 1000, width: 1000, crop: :fill) %>
                  <div class="prof-list-container">
                    <div class="prof-list-content">
                      <h3 class="no-margin"><%= tour.title %></h3>
                      <p><%= tour.date.to_formatted_s(:short) %></p>
                      <p><%= tour.price %></p>
                      <p><%= tour.description %></p>
                    </div>
                  </div>
                </div>
              </div>
              <hr class="break">
            <% end %>
          </div>
          <div class="hidden" data-target="pending">
            <p>Pending applications</p>
            <% @all_applications.each do |element| %>
              <%  @user = element.user %>
              <% unless @user.picture.nil? %> <%= cl_image_tag(@user.picture, :width => 120, :height =>
          120, :crop => :fill, class: "avatar-user") %> <% else %> <%= image_tag("profile.png", class: "avatar-user") %> <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
