<div class="container">

  <div class="user-profile-container">
    <div class="profile-left-panel">
      <div>
        <% unless @user.picture.nil? %>
        <%= cl_image_tag(@user.picture, :width => 120, :height => 120, :crop => :fill, class: "avatar-user") %>
        <% else %>
        <%= image_tag "https://picsum.photos/200", class: "avatar-user" %>
        <% end %>
      </div>

      <hr>

      <div class="button-wrapper">
        <%= link_to "Edit profile", profile_edit_path %>
      </div>

      <div class="button-wrapper">
        <%= link_to "New tour", new_tour_path %>
      </div>
    </div>

    <div class="profile-content">
      <div>
        <h2><%= "#{@user.first_name} #{@user.last_name}, #{@user.age}" %></h2>
      </div>

      <div>
        <small>Member since <%= @user.created_at.strftime("%Y") %></small>
      </div>

      <div>
        <small><%= @user.email %></small>
      </div>

      <div>
        <h4>About</h4>
      </div>

      <div>
        <p><%= @user.description %></p>
      </div>



      <div>
        <div class="col-md-10">
          <h2>My tours</h2>
        </div>
      </div>
      <div class="user-tours-container">
      <% @user.tours.each do |tour| %>
        <%= render partial: "shared/profile-tour-card", locals: {tour: tour} %>
      <% end %>
      </div>
    </div>
  </div>
</div>
