<div class="user-profile row">
  <div class="col-md-2">
    <div class="row">
      <%= image_tag @user.picture, class: "avatar-user" %>
    </div>
    <div class="row">
      <a href="#">Update photo</a>
    </div>

    <div class="row">
      <%= link_to "New tour", new_tour_path %>
    </div>
  </div>

  <div class="col-md-10">
    <div class="row">
      <h2><%= "#{@user.first_name} #{@user.last_name}" %></h2>
    </div>

    <div class="row">
      <p>Member since 2015</p>
    </div>

    <div class="row">
      <%= link_to "Edit profile", profile_edit_path %>
    </div>

    <div class="row">
      <h5>About</h5>
    </div>

    <div class="row">
      <p><%= @user.description %></p>
    </div>

    <div class="row">
      <p><strong>Age: </strong><%= @user.age %></p>
    </div>

    <div class="row">
      <p><strong>Email: </strong><%= @user.email %></p>
    </div>

    <div class="row">
      <div class="col-md-10">
        <h2>My tours</h2>
      </div>
    </div>
    <div class="row">

      <div class="col-md-3">
        <div class="row">
          <h6>Tour name</h6>
        </div>
        <div class="row">
          <p>Tour location</p>
        </div>

        <div class="row">
          <p>22/02/2022 17:00 - 2 hours</p>
        </div>

        <div class="row">
          <p>English</p>
        </div>

        <div class="row">
          <p>89 euros</p>
        </div>

      </div>


    </div>
  </div>
</div>
