<div class="user-tour-card">
  <%= render partial: "shared/tour_card", locals: {tour: tour} %>

  <div class="tour-options">
    <div>
      <%= link_to edit_tour_path(tour) do %>
      <%= fa_icon "edit", text: "edit" %>
      <% end %>
    </div>

    <div>
      <%= link_to tour_path(tour), method: :delete, data: { confirm: "Are you sure to delete?" }  do %>
      <%= fa_icon "trash", text: "delete" %>
      <% end %>
    </div>
  </div>
</div>
