<div class="container-full">
  <div class="container-tours">
    <div class="container-tours-header">
      <div>
        <!-- Put search box here-->
        <%= form_tag tours_path, method: :get do %>
          <div class="row g-3">
            <div class="col-md-9">
              <%= text_field_tag :query,
                params[:query],
                class: "form-control col-md-10",
                placeholder: "Location"
              %>
            </div>
            <div class="col-md-3">
              <%= submit_tag "Search", class: "form-control btn btn-primary col-md-2" %>
            </div>
          </div>
        <% end %>
      </div>
      <h3>We found <span><%= @tours.count %> </span>tours for you</h3>
    </div>
    <!-- Tours index -->
    <div class="tour-header m-2">
    <h2>List of the tours</h2>
    <hr>
    </div>
    <div class="tour-grid">
      <% @tours.each do |tour| %>
        <div class="user-tour-card">
          <%= render partial: "shared/tour_card", locals: {tour: tour} %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="map" data-controller="mapbox"
  data-mapbox-markers-value="<%= @markers.to_json %>"
  data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div>
