<div class="container-full">
  <div class="container-tour">Yours</div>
  <div class="map">map</div>
</div>
<div class="content text-center my-4">
  <h2>Most popular tours</h2>
</div>
<div class="container-image mb-5 bg-white rounded shadow h-200">
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active middle-img">
        <%= image_tag "boat.jpg", alt: "boat", width: 400, height: 300 %>
        <p>check our list</p>
      </div>
      <% @tours.each do |tour| %>
        <div class="carousel-item middle-img">
          <div class="card-product">
            <%= image_tag "localmarket.jpg", alt: "localmarket", width: 400, height: 300 %>
            <div class="card-product-infos">
              <ul class="card-title-top">
                <li><%= link_to tour.title, tour_path(tour) %></li>
                <li><%= tour.price %>€</li>
              </ul>
              <ul class= "menu-bottom">
                <li><%= tour.date %></li>
                <li><%= tour.duration %></li>
              </ul>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
<div class="content text-center my-2">
  <h2>Other tours</h2>
</div>
<!--list the tours -->
<div class="container my-5 bg-white rounded shadow h-400 flex-container">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <% @tours.each do |tour| %>
      <div class="col">
        <div class="card h-100">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" class="card-img-top">
          <div class="card-body">
            <ul class="card-title">
              <li><%= link_to tour.title, tour_path(tour) %></li>
              <li><%= tour.price %>€</li>
            </ul>
            <ul class= "menu">
              <li><%= tour.date %></li>
              <li><%= tour.duration %></li>
            </ul>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
