<div class="container-full">
  <div class="container-tours">
    <div class="container-tours-header">
      <div>
        <!-- Put search box here-->
        <%= form_tag tours_path, method: :get do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Location"
          %>
          <%= submit_tag "Search", class: "btn btn-primary" %>
        <% end %>
      </div>
      <h2>We found <%= @tours.count %></h2>
    </div>
    <!-- Tours index -->
    <% @tours.each do |tour| %>
      <%= link_to tour_path(tour), class: "card-tour-link" do %>
        <div class="card-tour-container">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg"/>
          <div class="card-tour-content">
            <div class="header">
              <h4><%= tour.title %></h4>
            </div>
            <div class="details">
              <p><%= tour.date %></p>
              <p><%= tour.duration %></p>
            </div>
            <div>
              <p><%= tour.price %>€</p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="map" data-controller="mapbox"
  data-mapbox-markers-value="<%= @markers.to_json %>"
  data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div>
