<div class="container-full">
  <div class="container-tours">
    <div class="container-tours-header">
      <div>
        <!-- Put search box here-->
        <div class="row g-3">
            <div class="col-sm-7">
              <%= form_tag tours_path, method: :get do %>
                <%= text_field_tag :query,
                  params[:query],
                  class: "form-control",
                  placeholder: "Find a location"
                %>
            </div>
            <div class="col-sm-3">
              <%= submit_tag "Search", class: "btn btn-primary" %>
            </div>
            <% end %>
        </div>
      </div>
      <div>
        We found <%= @tours.count %>
      </div>
    <div class="m-3">
       <h3>Here is the list of tours</h3>
    </div>
    </div>

    <!-- Tours index -->
    <div class="tour-grid">
      <% @tours.each do |tour| %>
      <div class="user-tour-card">
        <%= render partial: "shared/tour_card", locals: {tour: tour} %>
      </div>
      <% end %>
    </div>

  </div>
  <div class="map" data-controller="mapbox"
  data-mapbox-markers-value="<%= @markers.to_json %>"
  data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div>
