<div class="container" data-controller="tour-form">
  <h1>Tour</h1>
  <%= simple_form_for @tour do |f| %>
    <% unless @tour.errors.nil? %>
    <%= render 'shared/form_errors', object: @tour %>
    <% end %>

    <div class="row gy-3">
      <div class="col-md-12">
        <%= f.label :title, "Title:" %>
        <%= f.text_field :title, class: "form-control" %>
      </div>

      <div class="col-md-12">
        <%= f.label :address, "Address:" %>
        <%= f.text_field :address, class: "form-control" %>
      </div>

      <div class="col-md-4">
        <%= f.label :date, "Date:" %>
        <%= f.date_field :date, class: "form-control" %>
      </div>

      <div class="col-md-4">
        <%= f.label :start_time, "Time:" %>
        <%= f.time_field :start_time, class: "form-control" %>
      </div>

      <div class="col-md-4">
        <%= f.label :duration, "Duration:" %>
        <%= f.number_field :duration, class: "form-control" %>
      </div>

      <div class="col-md-6">
        <%= f.label :language, "Language:" %>
        <%= f.text_field :language, class: "form-control" %>
      </div>

      <div class="col-md-6">
        <%= f.label :price, "Price:" %>
        <%= f.number_field :price, class: "form-control" %>
      </div>

      <div class="col-md-12">
        <%= f.label :description, "Description:" %>
        <%= f.text_area :description, class: "form-control" %>
      </div>

      <% unless @tour.pictures.nil? || @tour.pictures.count == 0 %>
      <div class="col-md-12">
        <div class="tour-picture-grid">
        <% @tour.pictures.each do |picture| %>
          <div class="picture-item" id="picture-item-<%= picture.id %>">
            <%= cl_image_tag(picture.image, :width => 80, :height => 80, :crop => :fill) %>
            <a href="#" data-picture-id="<%= picture.id %>" class="tour-picture-delete"><%= fa_icon "trash", text: "delete" %></a>
          </div>
        <% end %>
        </div>
      </div>
      <% end %>

      <div class="col-md-12">
        <%= f.label :files, "Pictures:" %>
        <div id="picture-fields-container">
          <%= f.file_field :files, multiple: true, name: "tour[files][]", class: "form-control" %>
        </div>
        <a href="" id="add-picture-field"><%= fa_icon "plus" %> Add another image</a>
      </div>


      <div class="col-md-12">
        <%= f.submit "Submit", class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
