<div class="container">
  <h1> <%= @tour.title %></h1>

  <%= image_tag "https://source.unsplash.com/random/300x300/?tourism" %>
  <ul>
  <li>
    <%= @tour.description %>
    <%= @tour.language %>
    <%= @tour.price %>
    <%= @tour.date %>
      </li>
        </ul>

  <%= link_to "Book this tour", tour_bookings_path(@tour), method: :post, class: "btn btn-primary" %>
</div>
