<h1>Tour</h1>
<ul>
 <li>
  <%= @tour.title  %>
  <%= @tour.description %>
  <%= @tour.language %>
  <%= @tour.price %>
  <%= @tour.date %>
    </li>
      </ul>


 <li><%= @booking.status %> </li>



<%# #do some front-end like the list of the tours (done by Genie)
#inside the booking controller/ booking view should be done here %>
