<div class="container d-flex justify-content-center align-items-center">
  <div class="tour-show-card border shadow d-flex">
  <div class="">
    <%= image_tag "https://source.unsplash.com/random/300x300/?tourism" %>
  </div>

  <div class="ml-5 tour-show-info">
    <h1> <%= @tour.title %></h1>

    <ul>
      <li><%= @tour.description.present? ? @tour.description : "This tour has no description yet." %></li>
      <li><%= @tour.language %></li>
      <li><%= @tour.price %></li>
      <li><%= @tour.date %></li>
    </ul>

    <%= link_to "Book this tour", tour_bookings_path(@tour), method: :post, class: "btn btn-primary" %>
    </div>
  </div>
</div>
